<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyCuaHang.Properties.Settings.QL_cua_hangConnectionString"
            connectionString="Data Source=DESKTOP-UAHPQGL;Initial Catalog=QL_cua_hang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>